#heading1 {
  color: red
}
#overskriften{
text-align: center;
color: orange;
font-family:Fantasy,Copperplate;
text-shadow: 2px 2px #000000;
font-size: 400%;
}
body {
  background-image: linear-gradient(to bottom right, grey, rgb(0, 0, 0));
}
.text{
color: white;
}
#min_datavis{
overflow: hidden;
float: left;
color: whitesmoke;
font-family:sans-serif,Arial;
font-size: 20px;
fill: orange;

display: flex;
position: relative;
justify-content: center;
align-items: center;
width: 100%;
}
