#heading1 {
    color: red
}
#overskriften{
  text-align: center;
  text-shadow: 0 0 10px rgb(0, 0, 0);
  color: silver;
  font-family:Fantasy,Copperplate;
  font-size: 400%;
}
body {
    background-image: linear-gradient(to bottom right, rgb(121, 0, 177), rgb(54, 54, 54));
}
.text{
  color: silver;
}
#min_datavis{
  overflow: hidden;
  float: left;
  color: silver;
  font-family:sans-serif,Arial;
  font-size: 20px;
  fill: silver;
}