.svg{ 
 display: flex; 
margin: auto; 
position: relative;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
transform: scale(auto);
}

#heading1 {
  color: red
}
#overskriften{
  text-align: center;
  color: #ffa500;
  font-family:Fantasy,Copperplate;
  text-shadow: 0 0 0.50rem rgb(0, 0, 0);
  font-size: 400%;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body {
    background-image: linear-gradient(to bottom right, grey, rgb(0, 0, 0));
}
.text{
  color: white;
}
#min_datavis{
  overflow: hidden;
  text-shadow: 0 0 0.50rem rgb(0, 0, 0);
  filter: drop-shadow(0 0 0.50rem rgb(0, 0, 0));
  float: left;
  color: whitesmoke;
  font-family:sans-serif,Arial;
  font-size: 20px;
  fill: #ffa500;
  display: flex;
}

#kortet{
  display: flex;
  filter: drop-shadow(0 0 0.50rem rgb(0, 0, 0));
  position: relative;
  justify-content: center;
  align-items: center;
}

#continent{
  text-align: center;
  color: #ffa500;
  font-family:Fantasy,Copperplate;
  text-shadow: 0 0 0.50rem rgb(0, 0, 0);
  font-size: 300%;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

#underoverskrift{
  text-align: center;
  color: #ffa500;
  text-shadow: 0 0 0.50rem rgb(0, 0, 0);
  font-family:sans-serif,Arial;
  font-size: 110%;
  margin-top: 10px;
  margin-bottom: 30px;
  position: relative;
  justify-content: center;
  align-items: center;
}

#tooltip{
  position: relative;
  color: #ffa500;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family:sans-serif,Arial;
  text-shadow: 0 0 0.50rem rgb(0, 0, 0);
}


/*  .transition()
  .duration(300)
  .delay(function(d,i){console.log(i) ; return(i*100)})

  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#tooltip{
  position: relative;
  color: orange;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 100%;
  font-family:sans-serif,Arial;
}
